<div class="hero">
  <h1> Edit your cart: </h1>
</div>

<p> Product name: </p>
<%= form_for @cart do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :stock %>
  <%= form.text_field :price %>
  <%= form.submit %>
<% end %>
