<div class="hero">
  <h1>Product Details</h1>
</div>

<table class="show">
  <tr>
    <th>Product: </th>
    <td> <%= @product.name %> </td>
  </tr>
  <tr>
    <th>Price: </th>
    <td> <%= number_to_currency(@product.price) %> </td>
  </tr>
  <tr>
    <th>Available stock: </th>
    <td> <%= @product.stock %> </td>
  </tr>
  <tr>
    <th>Views: </th>
    <td> <%= @product.views %> </td>
  </tr>
</table>


<%= link_to "Add to Cart", new_cart_path(@product), class: "button" %>
<%= link_to "Return to All Products List", products_path, class: "button" %>
