<div class="hero">
  <h1>Product Details</h1>
</div>


<div class="container product_details_container">
  <table>
    <tr>
      <td>Product name: </td>
      <td> <%= @product.name %> </td>
    </tr>
    <tr>
      <td>Price: </td>
      <td> <%= number_to_currency(@product.price) %> </td>
    </tr>
    <tr>
      <td>Available stock: </td>
      <td> <%= @product.stock %> </td>
    </tr>
    <tr>
      <td>Views: </td>
      <td> <%= @product.views %> </td>
    </tr>
  </table>
</div>

<div class="link_container">
  <%= link_to "Edit product", edit_product_path(@product), class: "btn edit" %>
  <%= link_to "Return to All Products", products_path, class: "btn return" %>
</div>
